/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    /* Create an alias "as" that points to our autoshift_hold_tap behavior
     * so we can reference it as &as in the keymap.
     */
    aliases {
        as = &as_ht;
    };

    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <220>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced"; /* optional; depends on preference */
            tapping-term-ms = <200>;
            quick-tap-ms = <220>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        as_ht: autoshift_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&shifted>, <&kp>;
        };

        combos {
            compatible = "zmk,combos";

            combo_esc {
                timeout-ms = <50>;
                key-positions = <0 1>;
                bindings = <&kp ESC>;
            };

            combo_del {
                timeout-ms = <50>;
                key-positions = <8 9>;
                bindings = <&kp DEL>;
            };

            combo_reset {
                timeout-ms = <50>;
                key-positions = <0 9>;
                layers = <2>;
                bindings = <&sys_reset>;
            };

            combo_boot {
                timeout-ms = <50>;
                key-positions = <5 20>;
                layers = <2>;
                bindings = <&bootloader>;
            };
        };
    };

    macros {
        /*
         * Macro 1:
         *  - Wait 150 ms
         *  - Press Shift
         *  - Wait 150 ms
         *  - Press Win
         *  - Wait 0 ms
         *  - Tap '4'
         *  - Release Win
         *  - Release Shift
         */
        macro_1: macro_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_wait 150
                &macro_press &kp LSHFT
                &macro_wait 150
                &macro_press &kp LGUI
                &macro_wait 0
                &macro_tap &kp N4
                &macro_release &kp LGUI
                &macro_release &kp LSHFT
            >;
        };

        /*
         * Macro 2:
         *  - Wait 150 ms
         *  - Press Ctrl
         *  - Wait 0 ms
         *  - Tap Left Arrow
         *  - Release Ctrl
         */
        macro_2: macro_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_wait 150
                &macro_press &kp LCTRL
                &macro_wait 0
                &macro_tap &kp LEFT
                &macro_release &kp LCTRL
            >;
        };

        /*
         * Macro 3:
         *  - Wait 150 ms
         *  - Press Ctrl
         *  - Wait 0 ms
         *  - Tap Right Arrow
         *  - Release Ctrl
         */
        macro_3: macro_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_wait 150
                &macro_press &kp LCTRL
                &macro_wait 0
                &macro_tap &kp RIGHT
                &macro_release &kp LCTRL
            >;
        };

        /*
         * Macro 4:
         *  - Wait 50 ms
         *  - Press Win
         *  - Wait 50 ms
         *  - Press Shift
         *  - Wait 0 ms
         *  - Tap '='
         *  - Release Shift
         *  - Release Win
         */
        macro_4: macro_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_wait 50
                &macro_press &kp LGUI
                &macro_wait 50
                &macro_press &kp LSHFT
                &macro_wait 0
                &macro_tap &kp EQUAL
                &macro_release &kp LSHFT
                &macro_release &kp LGUI
            >;
        };

        /*
         * Macro 5:
         *  - Wait 50 ms
         *  - Press Win
         *  - Wait 50 ms
         *  - Press Shift
         *  - Wait 0 ms
         *  - Tap '-'
         *  - Release Shift
         *  - Release Win
         */
        macro_5: macro_5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_wait 50
                &macro_press &kp LGUI
                &macro_wait 50
                &macro_press &kp LSHFT
                &macro_wait 0
                &macro_tap &kp MINUS
                &macro_release &kp LSHFT
                &macro_release &kp LGUI
            >;
        };

        /*
         * Macro 6:
         *  - Wait 150 ms
         *  - Press Ctrl
         *  - Wait 0 ms
         *  - Tap Up Arrow
         *  - Release Ctrl
         */
        macro_6: macro_6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_wait 150
                &macro_press &kp LCTRL
                &macro_wait 0
                &macro_tap &kp UP
                &macro_release &kp LCTRL
            >;
        };
    };
};
