/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            //╭─────────────┬────────────┬──────────┬──────────┬──────────────╮                      ╭──────────────┬───────────┬───────────┬──────────┬───────────╮
            //│    Q        │     W      │    E     │    R     │      T       │                      │      Y       │     U     │     I     │    O     │   P       │
                &mt LSHFT Q      &kp W      &kp E      &kp R        &kp T                                 &kp Y         &kp U      &kp I      &kp O      &kp P     
            //├─────────────┼────────────┼──────────┼──────────┼──────────────┤                      ├──────────────┼───────────┼───────────┼──────────┼───────────┤
            //│     A       │     S      │    D     │    F     │      G       │                      │      H       │     J     │     K     │    L     │   ' "     │
                  &kp A          &kp S       &kp D      &kp F        &kp G                                 &kp H        &kp J       &kp K       &kp L      &as SQT  
            //├─────────────┼────────────┼──────────┼──────────┼──────────────┤                      ├──────────────┼───────────┼───────────┼──────────┼───────────┤
            //│     Z       │     X      │    C     │    V     │      B       │                      │      N       │     M     │   , <     │   . >    │   / ?     │
                 &lt 3 Z         &kp X       &kp C      &kp V        &kp B                                 &kp N         &kp M     &as COMMA   &as DOT   &lt 3 FSLH 
            //╰─────────────┴────────────┴──────────┼──────────┼──────────────┤                      ├──────────────┼───────────┼───────────┴──────────┴───────────╯
                                                  &lt 2 BSPC    &mt LGUI TAB         &kp C_MUTE         &mt RGUI RET     &lt 2 SPACE
            //                                 ╰─────────────┴─────────────────╯                     ╰─────────────────┴───────────────╯
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        num_layer {
            bindings = <
            //╭──────────┬───────────┬─────────────┬──────────────┬─────────────╮      ╭──────────────┬───────────────┬───────────────┬──────────────┬──────────────╮
            //│    !     │     @     │     UP      │       $      │      %      │      │       *      │       7       │       8       │       9      │      +       │
                &KP_EXCL     &KP_AT      &kp UP         &KP_DLLR     &KP_PRCNT           &KP_MULTIPLY    &KP_NUMBER_7   &KP_NUMBER_8    &KP_NUMBER_9    &kp PLUS
            //├──────────┼───────────┼─────────────┼──────────────┼─────────────┤      ├──────────────┼───────────────┼───────────────┼──────────────┼──────────────┤
            //│    (     │    LEFT   │    DOWN     │    RIGHT     │      )      │      │      |       │       4       │       5       │       6      │       -      │
                &KP_LPAR    &kp LEFT    &kp DOWN      &kp RIGHT      &KP_RPAR              &KP_PIPE      &KP_NUMBER_4   &KP_NUMBER_5    &KP_NUMBER_6    &kp MINUS
            //├──────────┼───────────┼─────────────┼──────────────┼─────────────┤      ├──────────────┼───────────────┼───────────────┼──────────────┼──────────────┤
            //│   CAPS   │     ~     │      #      │      ^       │      =      │      │      &       │       1       │       2       │       3      │      0       │
                &KP_CAPS   &KP_TILDE    &KP_HASH      &KP_CARET       &KP_EQUAL            &KP_AMPS      &KP_NUMBER_1   &KP_NUMBER_2    &KP_NUMBER_3   &KP_NUMBER_0
            //╰──────────┴───────────┴─────────────┼──────────────┼─────────────┤      ├──────────────┼───────────────┼───────────────┴──────────────┴──────────────╯
                                                     &trans           &trans     &trans    &trans             &trans
            //                                 ╰──────────────────┴─────────────╯      ╰──────────────┴────────────────────╯
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        fn_layer {
            bindings = <
            //╭──────────┬────────────────┬────────────┬──────────┬──────────╮      ╭──────────┬────────────┬──────────┬──────────┬──────────╮
            //│          │       _        │    ESC     │          │          │      │          │            │          │          │          │
                 &none     &kp_UNDERSCORE    &kp_ESC     &none       &none             &none      &macro_4    &macro_5    &none      &none
            //├──────────┼────────────────┼──────────┼──────────┼────────────┤      ├──────────┼────────────┼──────────┼──────────┼──────────┤
            //│    [     │   MACRO 1      │    ;      │    :      │    ]     │      │          │            │          │          │          │
                &KP_LBKT      &macro_1         &KP_SEMI    &KP_COLON   &KP_RBKT        &none      &macro_2    &macro_3    &none      &none
            //├──────────┼────────────────┼──────────┼──────────┼────────────┤      ├──────────┼────────────┼──────────┼──────────┼──────────┤
            //│    {     │                │          │          │      }     │      │          │            │          │          │          │
                &KP_LBRC      &none          &none       &none      &KP_RBRC           &none     &bt BT_CLR   &BT_SEL 0  &BT_SEL 1  &BT_SEL 2
            //╰──────────┴────────────────┴──────────┼──────────┼────────────┤      ├──────────┼────────────┼──────────┴──────────┴──────────╯
                                                   &trans           &trans    &trans   &trans       &trans
            //                               ╰──────────────────┴────────────╯      ╰──────────┴──────────────────╯
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        nav_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮      ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│          │          │          │          │          │      │  HOME    │          │  UP      │          │  PG_UP   │
                &none      &none    &kp LS(LG(N4)) &kp LS(LG(S)) &none         &kp HOME   &none      &kp UP     &none      &kp PG_UP
            //├──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  LGUI    │  LALT    │  LCTRL   │          │          │      │  END     │  LEFT    │  DOWN    │  RIGHT   │  PG_DN   │
                &kp LGUI   &kp LALT   &kp LCTRL  &none      &none             &kp END    &kp LEFT   &kp DOWN  &kp RIGHT  &kp PG_DN
            //├──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│          │          │          │          │          │      │          │          │          │          │          │
                &none      &none      &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP    &none      &none      &none      &none      &none
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                 &trans     &trans    &trans  &trans     &trans
            //                                 ╰──────────┴──────────╯      ╰──────────┴──────────╯
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
